<div class="card-container">
  <div class="watchlist-content">
    <h3>My Watchlist</h3>

    <div *ngIf="watchlist.length === 0" class="empty-watchlist">
      Currently, you don't have any stock in your watchlist.
    </div>
    <div *ngIf="isLoading" style="text-align: center">
      <mat-progress-spinner
        mode="indeterminate"
        diameter="40"
      ></mat-progress-spinner>
    </div>
    <div
      class="card"
      *ngFor="let item of watchlist"
      (click)="navigateToSearch(item.symbol)"
    >
      <div class="close" (click)="removeWatchlist(item)">X</div>
      <div class="content">
        <div class="half">
          <h3>{{ item.symbol }}</h3>
          <div>{{ item.name }}</div>
        </div>
        <div class="half">
          <h3>{{ item.c | number : "1.2-2" }}</h3>
          <span *ngIf="item?.d > 0">
            <i class="bi bi-caret-up-fill"></i>
          </span>
          <span *ngIf="item?.d <= 0">
            <i class="bi bi-caret-down-fill"></i>
          </span>
          <span
            >{{ item?.d | number : "1.2-2" }} ({{
              item?.dp | number : "1.2-2"
            }}%)</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
